spring:
  thymleaf:
    cache:false
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    open-in-view: true
  h2:
    console:
      enabled: true
server:
  port: 8082
security:
  basic:
    enabled: true
  user:
    name: admin
    password: admin
admin:
  user:
    name: admin
    password: admin