spring:
  thymleaf:
    cache:false
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    open-in-view: true
  h2:
    console:
      enabled: true
  kafka:
    consumer:
      group-id: myGroup3
server:
  port: 8083
security:
  basic:
    enabled: true
  user:
    name: admin
    password: admin
admin:
  user:
    name: admin
    password: admin
kafka:
  bootstrap-servers: localhost:9092
  topic: MyTestTopic2
  auto:
    offset:
      reset: earliest
auto:
  commit:
    interval:
      ms: 100
enable:
  auto:
    commit: true